.Payroll{
    display:block;
    border:0px solid #E6E9EB;
    border-radius: 20px;
    width:90%;
    height:500px;
    margin:30px auto;
    
}

.CenterSpinner{
    width:100px;
    margin:70px auto;
    display:fixed;
}