.Button {
  position: relative;
  float: left;
  background-color: #fff;
  color: black;
  cursor: pointer;
  font: inherit;
  width: 50px;
  height: 50px;
  margin: 20px 10px auto;
  font-size: 20px;
  padding: 10px;
  font-weight: normal;
  box-sizing: border-box;
  display: block;
}
.WithBorder {
  border: 1px solid #000;
  background: #dbc442;
  color: black;
}
.WithoutBorder {
  border: 0px solid #000;
}
.Button:active,
.Button:hover,
.Button:focus {
  background: #66d9c6;
  color: #fff;
}
