.RadioOptions {
    display: flex;
    flex-direction: row;
    width:88%;
    border-radius:30px;
    margin:auto;
    margin-top:70px;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    background-color: #000;
    color:#fff;
    border:10px solid #fff;
}
.Lblformats{
    display: flex;
    flex-direction: column;
   
   
}